<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ohgiraffers.practice.emp.ElementTestMapper">

    <resultMap id="EmployeeandDeptDTOResultMap" type="com.ohgiraffers.common.EmployeeAndDeptDTO">
        <id property="empId" column="emp_id"/>
        <result property="empName" column="emp_name"/>
        <result property="empNo" column="emp_no"/>
        <result property="email" column="email"/>
        <result property="phone" column="phone"/>
        <result property="jobCode" column="job_code"/>
        <result property="salLevel" column="sal_level"/>
        <result property="salary" column="salary"/>
        <result property="bonus" column="bonus"/>
        <result property="managerId" column="manager_id"/>
        <result property="hireDate" column="hire_date"/>
        <result property="entDate" column="ent_date"/>
        <result property="entYn" column="ent_yn"/>
        <association property="departmentDTO" javaType="com.ohgiraffers.common.DepartmentDTO">
            <id property="deptId" column="dept_id"/>
            <result property="deptTitle" column="dept_title"/>
            <result property="locationId" column="location_id"/>
        </association>
    </resultMap>


    <select id="associationTest" resultMap="EmployeeandDeptDTOResultMap">
        select
        a.emp_id,
        a.emp_name,
        a.emp_no,
        a.email,
        a.phone,
        b.dept_id,
        b.dept_title,
        b.location_id,
        a.job_code,
        a.sal_level,
        a.salary,
        a.bonus,
        a.manager_id,
        a.hire_date,
        a.ent_date,
        a.ent_yn
        from employee a
        join department b on (a.dept_code = b.dept_id)

    </select>

    <resultMap id="DeptAndEmployeeDTOResultMap" type="com.ohgiraffers.common.DeptAndEmployeeDTO">
        <id property="deptId" column="dept_Id"/>
        <result property="deptTitle" column="dept_title"/>
        <result property="locationId" column="location_id"/>
        <collection property="employeeList" ofType="com.ohgiraffers.common.EmployeeDTO">
            <id property="empId" column="emp_id"/>
            <result property="empName" column="emp_name"/>
            <result property="empNo" column="emp_no"/>
            <result property="email" column="email"/>
            <result property="phone" column="phone"/>
            <result property="jobCode" column="job_code"/>
            <result property="salLevel" column="sal_level"/>
            <result property="salary" column="salary"/>
            <result property="bonus" column="bonus"/>
            <result property="managerId" column="manager_id"/>
            <result property="hireDate" column="hire_date"/>
            <result property="entDate" column="ent_date"/>
            <result property="entYn" column="ent_yn"/>
        </collection>
    </resultMap>

    <select id="collectionTest" resultMap="DeptAndEmployeeDTOResultMap">
        select
        a.emp_id,
        a.emp_name,
        a.emp_no,
        a.email,
        a.phone,
        b.dept_id,
        b.dept_title,
        b.location_id,
        a.job_code,
        a.sal_level,
        a.salary,
        a.bonus,
        a.manager_id,
        a.hire_date,
        a.ent_date,
        a.ent_yn
        from employee a
        join department b on (a.dept_code = b.dept_id)
        order by a.dept_code
    </select>

</mapper>